<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Hypo-Workflow Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}" />
    <script src="{{ url_for('static', path='htmx.min.js') }}"></script>
  </head>
  <body>
    <div class="layout">
      {% block body %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
